body {
    background-color: rgb(78, 50, 206);
    animation: name 5s linear infinite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    background-image: url(./img/bg.png);
}


@keyframes name {
    25% {
        background-color: #ce11a5;
    }

    50%{
        background-color: #aa00ff;
    }
    75%{
        background-color: #00995c;
    }

    100%{
        background-color: #cc00cc;
    }
}


p{
    margin-top: 50vh;
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-size: 39px;
}
p {
    animation: p 5s linear infinite;
}

@keyframes p {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    body {
      background-position: center;
      background-repeat: repeat;
      background-size: 400px;
    }
    p{
        font-size: 14px;
    }
  }
